<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="apple-touch-icon" sizes="76x76" href="monkey-monitor/assets/img/apple-icon.png">
  	<link rel="icon" type="image/png" href="monkey-monitor/assets/img/favicon.png">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  	<title>
    	Dashboard for Ape Test
  	</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" type="text/css" href="monkey-monitor/head/jquery.multiselect.css" />
	<link rel="stylesheet" type="text/css" href="monkey-monitor/head/jquery.multiselect.filter.css" />
	<link rel="stylesheet" type="text/css" href="monkey-monitor/head/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="monkey-monitor/head/style.css" />
	<link href="monkey-monitor/assets/css/bootstrap.min.css" rel="stylesheet" />
  	<link href="monkey-monitor/assets/css/now-ui-dashboard.css?v=1.3.0" rel="stylesheet" />
	<script type="text/javascript" src="monkey-monitor/assets/js/core/jquery.min.js"></script>
	<script type="text/javascript" src="monkey-monitor/head/highcharts-7.2.1.js"></script>
	<script type="text/javascript" src="monkey-monitor/head/exporting.js"></script>
	<script type="text/javascript" src="monkey-monitor/head/export-data.js"></script>
<!--	<script src="https://code.highcharts.com/highcharts.src.js"></script>-->
	<script type="text/javascript" src="monkey-monitor/head/jquery-ui.min.js"></script>
	<script type="text/javascript" src="monkey-monitor/head/jquery.multiselect.js"></script>
	<script type="text/javascript" src="monkey-monitor/head/jquery.multiselect.filter.js"></script>
	<script type="text/javascript" src="monkey-monitor/head/theme.js"></script>
	<script type="text/javascript" src="monkey-monitor/head/jquery.tablesorter.js"></script>
	<script type="text/javascript" src="monkey-monitor/head/function.js"></script>
	<script type="text/javascript" src="monkey-monitor/head/monitor.js"></script>
	<script type="text/javascript" src="monkey-monitor/head/charts.js"></script>
	<script type="text/javascript" src="monkey-monitor/data/list.js"></script>
	<script src="monkey-monitor/assets/js/core/popper.min.js"></script>
  	<script src="monkey-monitor/assets/js/core/bootstrap.min.js"></script>
	<script type="text/javascript" src="monkey-monitor/data/fps_list.js"></script>
<!--  	<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>-->
<!--	<script src="assets/js/now-ui-dashboard.min.js" type="text/javascript"></script>-->

</head>

<script>

var datajs=""
var Case=0
var monitor=0
var monitor_GFX=0
var cpulist=[]
var Package=0
if(list.length !==0){
var SurfaceView = list[Package][1][monitor_GFX]
}
var TX_N=0
$.ajaxSetup({cache: true});

window.onscroll=function(){ 
	var t=document.documentElement.scrollTop||document.body.scrollTop;
	var div2=document.getElementById("div2");
	if(t>=50){ 
		div2.className="div2_1";
	}else{
		div2.className="div2";
	} 
}

$(function(){
	$("#theme_select").multiselect({
		multiple: false,
		header: false,
		noneSelectedText: "选择主题",
		minWidth: 150,
		height: 238,
		selectedList: 1,
	});
});
$(function(){
	$("#TX").multiselect({
		multiple: false,
		header: false,
		noneSelectedText: "选择TX",
		minWidth: 50,
		height: 60,
		selectedList: 1,
	});
});

$(function(){
	if(list.length !==0){
	var el=$("#Package_select").multiselect({
		multiple: false,
		noneSelectedText: "选择包名",
		minWidth: 235,
		height: 110,
		selectedList: 1,
	}).multiselectfilter({
		label: '查找:',
		placeholder: '输入关键字',
		autoReset: true
	});
	for (var i=0; i < list.length; i++){
		var v=list[i][0], opt=$('<option />', {
			value: i,
			text: v
		});
		opt.appendTo(el);
		if(i==0){
			opt.attr('selected',true);
		}
	};
	el.multiselect('refresh');
	Monitor_GFX(0,0);
	}
});

function Monitor_GFX(n,P){
	var el=$("#Surface_select").multiselect({
		multiple: false,
		noneSelectedText: "选择Surface",
		minWidth: 700,
		height: 110,
		selectedList: 1,
	}).multiselectfilter({
		label: '查找:',
		placeholder: '输入关键字',
		autoReset: true
	});
	for (var i=0; i < list[n][1].length; i++){
		var v=list[n][1][i], opt=$('<option />', {
			value: i,
			text: v
		});
		opt.appendTo(el);
		if(i==P){
			opt.attr('selected',true);
		}
	};
	el.multiselect('refresh');
	SurfaceView = list[Package][1][monitor_GFX];
}

$(function(){
	var el=$("#case_select").multiselect({
		multiple: false,
		noneSelectedText: "选择用例",
		minWidth: 235,
		height: 110,
		selectedList: 1,
	}).multiselectfilter({
		label: '查找:',
		placeholder: '输入关键字',
		autoReset: true
	});
	for (var i=0; i < caselist.length; i++){
		var v=caselist[i][0], opt=$('<option />', {
			value: i,
			text: v
		});
		opt.appendTo(el);
		if(i==0){
			opt.attr('selected',true);
		}
	};
	el.multiselect('refresh');
	Monitor(0,0)
});

function Monitor(n,P){
	var el=$("#monitor_select").multiselect({
		multiple: false,
		noneSelectedText: "选择结果",
		minWidth: 235,
		height: 110,
		selectedList: 1,
	}).multiselectfilter({
		label: '查找:',
		placeholder: '输入关键字',
		autoReset: true
	});
	for (var i=0; i < caselist[n][1].length; i++){
		var v=caselist[n][1][i], opt=$('<option />', {
			value: i,
			text: v
		});
		opt.appendTo(el);
		if(i==P){
			opt.attr('selected',true);
		}
	};
	el.multiselect('refresh');
}

function ChangeTX(option){
	TX_N=option.value;
	GFX(SurfaceView);
}

function ChangePackage(option){
	Package=option.value;
	$("#Surface_select").empty();
	Monitor_GFX(Package,0);
	SurfaceView = list[Package][1][monitor_GFX];
	charts();
}

function ChangeCase(option){
	Case=option.value;
	$("#monitor_select").empty();
	Monitor(Case,0)
}

function charts(){
	$.getScript(datajs,function(){
		cpulist=[cpuline[0], cpuline[1], cpuline[2], cpuline[3], cpuline[4]];
		updatecharts(0,SurfaceView)
	});
}

function ChangeMonitor(option){
	monitor=option.value;
	$("#monitor_select").empty();
	Monitor(Case,monitor);
	datajs="monkey-monitor/data/" + caselist[Case][0] + "_" + caselist[Case][1][monitor] + ".js";
	charts()
}

function ChangeMonitor_GFX(option){
	monitor_GFX=option.value;
	$("#Surface_select").empty();
	Monitor_GFX(Package,monitor_GFX);
	SurfaceView = list[Package][1][monitor_GFX];
	console.log(SurfaceView);
	GFX(SurfaceView);
}

$(function(){
	$("#mem_select").multiselect({
		multiple: false,
		header: false,
		noneSelectedText: "选择一组数据",
		minWidth: 235,
		height: 140,
		selectedList: 1,
	});
});

$(function(){
	$("#mem2_select").multiselect({
		multiple: false,
		header: false,
		noneSelectedText: "选择一组数据",
		minWidth: 235,
		height: 140,
		selectedList: 1,
	});
});

$(document).ready(function(){
	Highcharts.setOptions(themeArr[3]);
	datajs="monkey-monitor/data/" + caselist[Case][0] + "_" + caselist[Case][1][monitor] + ".js"
	charts()
})


</script>
<style>
	#GFX_menu button{
		width:auto !important
	}
	#fps_menu button{
		width:auto !important
	}

	.ui-multiselect-menu {
		width:auto !important
	}
</style>

<body class="">
<div class="wrapper ">
	<div class="sidebar" data-color="blue">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          Ape Test
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="./Dashboard.html">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="active ">
            <a href="./Report.html">
              <i class="now-ui-icons business_chart-bar-32"></i>
              <p>PF Charts</p>
            </a>
          </li>
          <li>
            <a href="./Log.html">
              <i class="now-ui-icons files_paper"></i>
              <p>Log Analysis</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
	<div class="main-panel" id="main-panel">
		<!-- Navbar -->
<!--      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">-->
<!--        <div class="container-fluid">-->
<!--          <div class="navbar-wrapper">-->
<!--            <div class="navbar-toggle">-->
<!--              <button type="button" class="navbar-toggler">-->
<!--                <span class="navbar-toggler-bar bar1"></span>-->
<!--                <span class="navbar-toggler-bar bar2"></span>-->
<!--                <span class="navbar-toggler-bar bar3"></span>-->
<!--              </button>-->
<!--            </div>-->
<!--            <a class="navbar-brand" href="#pablo">Dashboard</a>-->
<!--          </div>-->
<!--          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-bar navbar-kebab"></span>-->
<!--            <span class="navbar-toggler-bar navbar-kebab"></span>-->
<!--            <span class="navbar-toggler-bar navbar-kebab"></span>-->
<!--          </button>-->
<!--        </div>-->
<!--      </nav>-->
<!--      &lt;!&ndash; End Navbar &ndash;&gt;-->

			<div class="div1">
				<div id="div2" class="div2">
					<div class="div3_2"><select id="case_select" multiple="multiple" size="5"  onchange="ChangeCase(this)"></select></div>
					<div id="monitor" class="div3_2"><select id="monitor_select" multiple="multiple" size="5"  onchange="ChangeMonitor(this)"></select></div>
			<!--		<div class="div3_2" style="line-height:5px"><h1>SuperApe Test Result Summary Report</h1></div>-->
					<div class="div3_1">
						选择主题：
						<select id="theme_select" onchange="ChangeThemes(this)">
							<option value="0">默认</option>
							<option value="1">深蓝 (dark-blue)</option>
							<option value="2">深绿 (dark-green)</option>
							<option value="3">dark-unica</option>
							<option value="4" selected>灰色(gray)</option>
							<option value="5">网格(grid)</option>
							<option value="6">grid-light</option>
							<option value="7">sand-signika</option>
							<option value="8">天空(skies)</option>
						</select>
					</div>
				</div>
			<!--	<div id="summary" class="div4"></div>-->
				<div id="cur_freq" class="div4"></div>
				<div id="gpu_freq" class="div4"></div>
				<div id="cpu" class="div4"></div>
				<div id="cpu_menu" class="div5"><select id="cpuinfolist" multiple="multiple" size="5"></select>（排序方式：CPU最大值降序排列，括号中数字。）</div>
				<div id="cpuinfo" class="div4"></div>
				<div id="mem_menu" class="div5">
					<select id="mem_select" onchange="mem(this.value)">
						<option value="all" selected>总内存图</option>
						<option value="free">剩余内存图</option>
						<option value="io">Dirty和Writeback内存图</option>
						<option value="AI">Active和Inactive内存图</option>
						<option value="MS">Mapped和Slab内存图</option>
					</select>
				</div>
				<div id="mem" class="div4"></div>
				<div id="mem2_menu" class="div5">
					<select id="mem2_select" onchange="mem2(this.value)">
						<option value="mmap" selected>mmap内存图</option>
						<option value="other">其他项内存图</option>
					</select>
				</div>
				<div id="mem2" class="div6"></div>
				<div id="meminfo_menu" class="div5"><select id="meminfo_select" multiple="multiple" size="5" onchange="meminfo([this.value])"></select>（排序方式：Pss最大值-最小值降序排列，括号中数字“PSS极值差|PSS最大值”，单位M。）</div>
				<div id="meminfo" class="div4"></div>
				<div id="meminfo2_menu" class="div5"><select id="meminfo2_select" multiple="multiple" size="5" onchange="meminfo2([this.value])"></select>（排序方式：VSZ最大值-最小值降序排列，括号中数字“VSZ极值差|VSZ最大值”，单位M。）</div>
				<div id="meminfo2" class="div4"></div>
				<div id="btm" class="div4"></div>

				<div id="thermal_menu" class="div5"><select id="thermal_select" multiple="multiple" size="5" onchange="thermal([this.value])"></select>(格式：*:type内容, /sys/devices/virtual/thermal/thermal_zone*/type)</div>
				<div id="THERMAL" class="div4"></div>
				<div id="FPS2" class="div4"></div>
				<div id="fps_menu" class="div5" style="height:50px"><select id="fps_select" multiple="multiple" size="5" onchange="FPS([this.value])"></select>（格式：窗口名_*，SurfaceFlinger监控窗口的窗口名, 多个同名窗口*；System为系统动效）</div>
				<div id="FPS" class="div4"></div>
				<div id="GFX_menu" class="div5" style="height:50px">TX：
					<select id="TX" onchange="ChangeTX(this)">
						<option value="0" selected>0</option>
						<option value="1">1</option>
					</select>
				包名：<select id="Package_select" multiple="multiple" size="5"  onchange="ChangePackage(this)"></select>
				Surface：<select id="Surface_select" multiple="multiple" size="5"  onchange="ChangeMonitor_GFX(this)"></select></div>
				<div id="GFX" class="div4"></div>
			</div>
	</div>
</div>
</body>
</html>